
<h3>Visit us to turn that LEMON into LEMONADE! </br> Drive off with a fancy new car TODAY!!!<h3>

<form class="form-search">
    <div class="input-append">
        <input type="text" name="search" class="span2 search-query" ng-model="searchCar.ShortDescription" ng-model-options="{debounce:500}"   placeholder="SEARCH..." style="text-transform:uppercase" >
    </div>
</form>


<ul>
    <li ng-repeat="car in controller.cars | filter:searchCar">
<md-button  class="md-primary md-raised"  ng-click="controller.openDialog(car)">{{car.ShortDescription}}</md-button></br>
        <img class="vicImage" src="{{car.ImageUrl}}" width="250" height="150" ></img>
    </li>
</ul>

